*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red {
    color: red;
}

.bg-blue {
    background-color: blue;
}

.text-white{
    color:white;
}

.mb-50{
    margin-bottom: 50px;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.w-30 {
    width: 30%;
}


.txt-center {
    text-align: center;
}

.hide {
    display: none;
}

.boite {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.bg-red {
    background-color: red;
}

.gap-16 {
    gap: 16px;
}

.hero {
    height: 50vh;
    background-image: url("");
}

header {
    background-color: transparent;
    padding: 16px 64px;
    position: fixed;
    width: 100%;
    transition: background-color 2s linear;
}

header a {
    color: black;
    text-decoration: none;
}

.bg-bleu {
    background-color: rgb(48, 48, 150);
}